<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="nlog-internal.log"
      internalLogLevel="Warn" >

  
  <!-- Targets -->
  <targets async="true">
    <!-- FileLog -->
    <target name="TraceLog" xsi:type="File" 
            filename="log/${gdc:item=ApplicationName}-${cached:cached=true:Inner=${date:format=yyyyMMdd}:CacheKey=${shortdate}}.log"
            archiveFileName="log/${gdc:item=ApplicationName}-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}"
			encoding="utf-8"
    ></target>
	  <target name="ErrorLog" xsi:type="File"
            filename="log/Error/${gdc:item=ApplicationName}-${cached:cached=true:Inner=${date:format=yyyyMMdd}:CacheKey=${shortdate}}.log"
            archiveFileName="log/Error/${gdc:item=ApplicationName}-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}"
			encoding="utf-8"
    ></target>
  </targets>

  
  <!-- Rules -->
  <rules>
    <!-- FileLog -->
    <logger name="*" minlevel="Trace" writeTo="TraceLog" />
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
  </rules>
  
  
</nlog>